<div class="row">
  {{! Burgers to eat}}
  <div class="col s6 center-align">
    <ul>
      {{#each brgr}}
        {{#unless this.devoured}}
          <div class="card light-green">
            <p>
              {{this.id}}. {{this.burger_name}}

              <form action="update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="1">
                <button type="submit" class="waves-effect waves-light btn green z-depth-4">DEVOUR IT!</button>
              </form>
  
            </p>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{! Devoured Burgers}}
  <div class="col s6 center-align">
    <ul>
      {{#each brgr}}
        {{#if this.devoured}}
          <div class="card light-green lighten-2">
            <p class="grey-text">
              {{this.id}}. {{this.burger_name}}

              <form action="delete/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="waves-effect waves-light btn green z-depth-4">Remove</button>
              </form>
            </p>
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s3"></div>
  <div class="col s6">
    <div class="card-panel center-align deep-purple lighten-3">
    {{! Dropdown that allows user to only pick burgers on menu }}
      {{> menu/dropdown}}
    </div>
  </div>
</div>
